*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: azure;
}
h1{
    text-align: center;
    background-color: rgb(7, 159, 108);
    color: white;
    padding: .5rem 0;
}

.container{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    background-color: azure;
    flex-wrap: wrap;

}

.form-div{
    margin-top: 1.3rem;
    padding-right: 5rem;
    text-align: left;
    border-right: 2px solid rgb(7, 159, 108);
    
}
.form-div .inputfield{
display: flex;
align-items: center;
justify-content: space-between;
}

.form-div .inputfield label{
   margin-right: 3rem;
   font-size: 1.1rem;
    }
.form-div input{
   padding: .4rem;
   margin: .5rem 0;
}

#EnrollStudent,#clear{
    padding: .5rem 1rem;
    margin-top:1rem ;
    margin-right: .4rem;
    color: white;
    border-radius: 4px;
    border: none;
}
#EnrollStudent{
background-color:rgb(7, 159, 108) ;
}
#clear{
    background-color: red;
}

.enrolled-student-div{
 display: flex;
 flex-direction: column;
 
 align-items: center;
width: 470px;

}

.student-list{
    margin-top: 3rem;
    display: grid;
    overflow-y: auto;
    grid-template-columns: 300px 165px;
   height: 250px;
    border: 2px solid aquamarine;
    background-color: rgb(216, 254, 254);
}

.student-list .header{
    background-color: rgb(34, 236, 169);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 2px solid  aquamarine;
    border-bottom: none;
    padding: .4rem ;
    height: 40px;
  
    
 
}

.student-list .header2{
    background-color: rgb(34, 236, 169);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 40px;
    text-align: center;
    border: 2px solid  aquamarine;
    padding: .4rem ;
   
  
}
.studentData {
    
    display: grid;
    grid-template-columns: 300px auto;
    border-right: 2px solid rgb(63, 250, 188);
   
  
    
   
}
.st-img {
    grid-column-start: 2;
    grid-column-end: 3;
    border-bottom: 2px solid aquamarine;
    
}
.st-img img {
    padding-left: 1rem;
    
}

.stData_info{
    border-bottom: 2px solid rgb(63, 250, 188);
    padding: .4rem;
}
